         
         .btn-grad {
          background-image: linear-gradient(to right, #24C6DC 0%, #514A9D  51%, #24C6DC  100%);
          margin: 10px;
          padding: 10px 40px;
          text-align: center;
          text-transform: uppercase;
          transition: 0.3s;
          background-size: 200% auto;
          color: rgba(240, 245, 254, 0.831);            
          box-shadow: 0 0 20px rgba(15, 74, 177, 0.575);
          border-radius: 5px;
          display: block;
          
        }

        .btn-grad:hover {
          background-position: right center; /* change the direction of the change here */
          color: #fff;
          text-decoration: none;
        }
       
       
/*technical images hover*/
.containerk {
  position: relative;
  width: 100%;
}
.containerk1 {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}
.imagek1 {
  display: block;
  width: 100%;
  height: auto;
}



.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.containerk1:hover .overlay {
  width: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
/* technical images hover end */
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

a {
  color: #149ddd;
  text-decoration: none;
}

a:hover {
  color: #37b3ed;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h4{
  text-align: center;
  size: 10px;
  text-size-adjust: 10px;
}
h2{
  text-align: center;
  
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: goldenrod;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: goldenrod;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background-image: url("../img/Background_design.jpg");
  background-position: left;
  
  overflow-y: auto;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
}

#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

#header .profile h1 a,
#header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#header .profile .social-links a:hover {
  background: goldenrod;
  color: #fff;
  text-decoration: none;
}

#main {
  margin-left: 300px;
}

@media (max-width: 1199px) {
  #header {
    left: -300px;
  }

  #main {
    margin-left: 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  padding: 30px 0 0 0;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  text-decoration: none;
  color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
  color: goldenrod;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: goldenrod;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

/* text*/

  @keyframes glowsh {
    0%,
    100%{
      text-shadow: 0 0 1vw #16aefa, 0 0 3vw #1662fa;
  }
  }

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/background_image_final.jpg") top center;
  background-size: cover;
}

#hero:before {
  content: "";
  /* background: rgba(62, 8, 116, 0.468); */
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #149ddd;
}
.logoclass{
  display:none;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
/************************************************************************************************************/
@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
    text-align: center;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
    text-align: center;
  }
}
/*****************************************************************************************************************/
/* @media(max-width: 415px){
  #NONTECH-EVENTS{
    background-image: url('../img/All_Background.jpg'); 
    background-size: cover;
    height: 5550px !important; 
    padding-top:80px !important;
  }
  #TECH-EVENTS{
    background-image: url('../img/All_Background.jpg'); 
    background-size: cover;
    height: 4100px !important; 
    padding-top:80px !important;
  }

}
@media(max-width: 412px){
  #NONTECH-EVENTS{
    background-image: url('../img/All_Background.jpg'); 
    background-size: cover;
    height: 5700px !important; 
    padding-top:80px !important;
  }
  #TECH-EVENTS{
    background-image: url('../img/All_Background.jpg'); 
    background-size: cover;
    height: 4100px !important; 
    padding-top:80px !important;
  }

}

@media only screen and (max-width: 283.46456693px) {
  #NONTECH-EVENTS{
    background-image: url('../img/All_Background.jpg'); 
    background-size: cover;
    height: 5400px !important; 
    padding-top:80px !important;
  }
}
@media only screen and (max-width: 289.88976378) {
  #NONTECH-EVENTS{
    background-image: url('../img/All_Background.jpg'); 
    background-size: cover;
    height: 5500px !important; 
    padding-top:80px !important;
  }
} */
@media only screen and (max-width: 600px) {
  .logoclass {
    display:block;
    height:18em !important;
    width:18em !important;
  }
  #cf6_image {
    margin:0 auto;
    display:block;
    height:18em !important;
    width:18em !important;
    transition: background-image 1s ease-in-out;
    background-image:url("../img/LOGO.png");
  }
  
  #cf6_image:hover {
    background-image:url("../img/LOGO.png");
  }
  
  /* #about {
    background-image: url('../img/All_Background.jpg'); 
    background-size: cover;
    height: 1200px !important; 
    padding-top:80px !important;
  } */
  /* #TECH-EVENTS{
    background-image: url('../img/All_Background.jpg'); 
    background-size: cover;
    height: 4000px !important; 
    padding-top:80px !important;
  } */
  /* #NONTECH-EVENTS{
    background-image: url('../img/All_Background.jpg'); 
    background-size: cover;
    height: 5800px !important; 
    padding-top:80px !important;
  }
  #sports {
    background-image: url('../img/All_Background.jpg'); 
    background-size: cover;
    height: 1200px !important; 
    padding-top:80px !important;
  }
  #CONTACTS{
    background-image: url('../img/All_Background.jpg'); 
    background-size: cover;
    height: 1600px !important; 
    padding-top:80px !important;
  } */
}
/*************************************************************************************************************/
/* #sports {
  background-image: url('../img/All_Background.jpg'); 
  background-size: cover;
  height: 800px !important; 
  padding-top:80px !important;
}
#CONTACTS{
  background-image: url('../img/All_Background.jpg'); 
  background-size: cover;
  height: 1000px ; 
  padding-top:80px ;
}
#about {
  background-image: url('../img/All_Background.jpg'); 
  background-size: cover;
  height: 800px ; 
  padding-top:80px ;
}
#TECH-EVENTS{
  background-image: url('../img/All_Background.jpg'); 
  background-size: cover;
  height: 1400px ; 
  padding-top:80px ;
} */
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: #f5f8fd;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: static;
  color: #0969ef;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 100px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}


.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #173b6c;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #149ddd;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}
/* 

          Tech Events

*/
.TECH-EVENTS .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.TECH-EVENTS .progress .TECH-EVENTS {
  padding: 0;
  margin: 0 0 12px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #050d18;
}

.TECH-EVENTS .progress .TECH-EVENTS .val {
  float: right;
  font-style: normal;
}

.TECH-EVENTS .progress-bar-wrap {
  background: #dce8f8;
  height: 10px;
}

.TECH-EVENTS .progress-bar {
  width: 1px;
  height: 20px;
  transition: 0.9s;
  background-color: #149ddd;
}

/*--------------------------------------------------------------
# NONTECH-EVENTS
--------------------------------------------------------------*/
.NONTECH-EVENTS .NONTECH-EVENTS-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}

.NONTECH-EVENTS .NONTECH-EVENTS-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #1f5297;
  position: relative;
}

.NONTECH-EVENTS .NONTECH-EVENTS-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 10px;
}

.NONTECH-EVENTS .NONTECH-EVENTS-item h5 {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.NONTECH-EVENTS .NONTECH-EVENTS-item ul {
  padding-left: 20px;
}

.NONTECH-EVENTS .NONTECH-EVENTS-item ul li {
  padding-bottom: 10px;
}

.NONTECH-EVENTS .NONTECH-EVENTS-item:last-child {
  padding-bottom: 0;
}

.NONTECH-EVENTS .NONTECH-EVENTS-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1f5297;
}



/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  text-align: center;
  min-height: 320px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #c3e8fa;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 15px 15px 15px;
  padding: 20px;
  background: #fff;
  position: relative;
  margin-bottom: 35px;
  border-radius: 6px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.testimonials .testimonial-item p::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid #fff;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 20px);
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #149ddd;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #149ddd;
}


/*--------------------------------------------------------------
# CHIEFGUESTS
--------------------------------------------------------------*/
.CHIEFGUESTS .CHIEFGUESTS-carousel,
.CHIEFGUESTS .CHIEFGUESTS-slider {
  overflow: hidden;
}

.CHIEFGUESTS .CHIEFGUESTS-item {
  box-sizing: content-box;
  text-align: center;
  min-height: 320px;
}

.CHIEFGUESTS .CHIEFGUESTS-item .CHIEFGUESTS-img {
  width: 90px;
  border-radius: 50%;
  margin: 0 auto;
}

.CHIEFGUESTS .CHIEFGUESTS-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.CHIEFGUESTS .CHIEFGUESTS-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.CHIEFGUESTS .CHIEFGUESTS-item .quote-icon-left,
.CHIEFGUESTS .CHIEFGUESTS-item .quote-icon-right {
  color: #c3e8fa;
  font-size: 26px;
}

.CHIEFGUESTS .CHIEFGUESTS-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.CHIEFGUESTS .CHIEFGUESTS-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.CHIEFGUESTS .CHIEFGUESTS-item p {
  font-style: italic;
  margin: 0 15px 15px 15px;
  padding: 20px;
  background: #fff;
  position: relative;
  margin-bottom: 35px;
  border-radius: 6px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.CHIEFGUESTS .CHIEFGUESTS-item p::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid #fff;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 20px);
}

.CHIEFGUESTS .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.CHIEFGUESTS .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #149ddd;
}

.CHIEFGUESTS .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #149ddd;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.CONTACTS {
  padding-bottom: 130px;
}

.CONTACTS .info {
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.CONTACTS .info i {
  font-size: 20px;
  color: #149ddd;
  float: left;
  width: 44px;
  height: 44px;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.CONTACTS .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #050d18;
}

.CONTACTS .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #173b6c;
}

.CONTACTS .info .email p {
  padding-top: 5px;
}

.CONTACTS .info .social-links {
  padding-left: 60px;
}

.CONTACTS .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contacts .info .social-links a:hover {
  background: #149ddd;
  color: #fff;
}

.contacts .info .email:hover i,
.contacts .info .address:hover i,
.contacts .info .phone:hover i {
  background: #149ddd;
  color: #fff;
}

.contacts .php-email-form {
  width: 100%;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contacts .php-email-form .form-group {
  padding-bottom: 8px;
}

.contacts .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contacts .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contacts .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contacts .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contacts .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contacts .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contacts .php-email-form .form-group {
  margin-bottom: 15px;
}

.contacts .php-email-form label {
  padding-bottom: 8px;
}

.contacts .php-email-form input,
.contacts .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contacts .php-email-form input {
  height: 44px;
}

.contacts .php-email-form textarea {
  padding: 10px 15px;
}

.contacts .php-email-form button[type=submit] {
  background: #149ddd;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contacts .php-email-form button[type=submit]:hover {
  background: #37b3ed;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background: #f9f9f9;
}

.breadcrumbs h2 {
  font-size: 26px;
  font-weight: 300;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #0e2442;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 15px;
  color: #f4f6fd;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9999;
  background: #040b14;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #eaebf0;
}

@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}