*{
    margin: 0;
    font-family: sans-serif;
}

.item{
    text-align: center;
    padding: 1rem;
    position: relative;
    width: 40%;
}

button{
    padding: .5rem;
    background-color: orange;
    font-weight: bold;

    position: absolute;
    left: 50%; bottom: 40%;
    transform: translateX(-50%);
}

button:hover{
    background-color: rgb(0, 111, 128);
}
img{
    height: 70%;
    width: 60%;
}

.hotel{
    height: 200vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
body{
    background-size: 100% 100%;
    background-image:  url(image4.jpg);
    padding-top:75px;

}
h1{
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 600;
    color: white;
    text-align: center;
}

